<a href="https://colab.research.google.com/github/yunseo4401/start/blob/master/k%EC%B5%9C%EA%B7%BC%EC%A0%91_%EB%B6%84%EB%A5%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
liver=pd.read_csv('/content/indian_liver_patient.csv') # 데이터 로드

In [21]:
liver.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [23]:
import numpy as np
liver.Gender=np.where(liver.Gender=='Female',0,1)
print(liver.head())

   Age  Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
0   65       1              0.7               0.1                   187
1   62       1             10.9               5.5                   699
2   62       1              7.3               4.1                   490
3   58       1              1.0               0.4                   182
4   72       1              3.9               2.0                   195

   Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
0                        16                          18             6.8
1                        64                         100             7.5
2                        60                          68             7.0
3                        14                          20             6.8
4                        27                          59             7.3

   Albumin  Albumin_and_Globulin_Ratio  Dataset
0      3.3                        0.90        1
1      3.2                        0.74        1
2      3.3                        0.89        1
3      3.4                        1.00        1
4      2.4                        0.40        1

In [24]:
liver.isna().sum() #결측치의 합계 확인
#결측치 4개밖에 없으므로 그냥 없애줄게

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [25]:
liver.dropna(axis=0,inplace=True)

In [26]:
from sklearn.model_selection import train_test_split
x=liver[liver.columns.difference(['Dataset'])] #Dataset 빼고 나머지 칼럼 담기 
y=liver['Dataset']

train_input,test_input,train_target,test_target= train_test_split(x,y,stratify=y,train_size=0.7,random_state=1)# 데이터 분리

In [28]:
from sklearn.neighbors import KNeighborsClassifier
clf=KNeighborsClassifier(n_neighbors=15, weights='uniform') #k 15 하이퍼 파라미터임
clf.fit(train_input,train_target)

KNeighborsClassifier(n_neighbors=15)

In [32]:
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,f1_score

pred=clf.predict(test_input)
test_cm=confusion_matrix(test_target,pred)
test_acc=accuracy_score(test_target,pred)
test_prc=precision_score(test_target,pred)
test_rcll=recall_score(test_target,pred)
test_f1=f1_score(test_target,pred)

print(test_cm)
print(test_acc)
print(test_prc)
print(test_rcll)
print(test_f1)

[[106  18]
 [ 38  12]]
0.6781609195402298
0.7361111111111112
0.8548387096774194
0.791044776119403