<a href="https://colab.research.google.com/github/yunseo4401/start/blob/master/%EB%82%98%EC%9D%B4%EB%B8%8C%EB%B2%A0%EC%9D%B4%EC%A6%88_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
spam=pd.read_csv('spam.txt',sep=',')
spam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [3]:
spam.isna().sum()# 결측치가 많은 2~4는 그냥 제거함

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [5]:
spam=spam[['v1','v2']]
spam

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ? b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [6]:
spam['v1'].unique() #스팸인지 아닌지 구분해보자

array(['ham', 'spam'], dtype=object)

In [8]:
import numpy as np
spam['label']=np.where(spam['v1']=='spam',1,0)
spam

<ipython-input-8-c3eec5edd9f4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spam['label']=np.where(spam['v1']=='spam',1,0)

        v1                                                 v2  label
0      ham  Go until jurong point, crazy.. Available only ...      0
1      ham                      Ok lar... Joking wif u oni...      0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...      1
3      ham  U dun say so early hor... U c already then say...      0
4      ham  Nah I don't think he goes to usf, he lives aro...      0
...    ...                                                ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...      1
5568   ham               Will ? b going to esplanade fr home?      0
5569   ham  Pity, * was in mood for that. So...any other s...      0
5570   ham  The guy did some bitching but I acted like i'd...      0
5571   ham                         Rofl. Its true to its name      0

[5572 rows x 3 columns]

In [9]:
x=spam['v2']
y=spam['label']

from sklearn.model_selection import train_test_split 
train_input,test_input,train_target,test_target=train_test_split(x,y,test_size=0.3,random_state=1,stratify=y)
print(train_input.shape,train_target.shape)
print(test_input.shape,test_input.shape)

(3900,) (3900,)
(1672,) (1672,)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(binary=True)
x_traincv=cv.fit_transform(train_input)
x_traincv.shape

(3900, 7175)

In [12]:
encoded_input=x_traincv.toarray()
encoded_input

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [13]:
print(cv.get_feature_names()[1000:1010],end='') #벡터의 인덱스가 각각 어떤 단어를 뜻하는지 확인하려면 다음을 사용

['at', 'ate', 'athletic', 'athome', 'atlanta', 'atlast', 'atm', 'attach', 'attached', 'attack']

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [14]:
from sklearn.naive_bayes import BernoulliNB #베르누이 나이브베이즈 호출 
bnb=BernoulliNB()
bnb.fit(x_traincv,train_target)

BernoulliNB()

In [15]:
x_testcv=cv.transform(test_input)
pred=bnb.predict(x_testcv
                 )

from sklearn.metrics import accuracy_score
acc=accuracy_score(test_target,pred)
print('Accuracy Score:',acc)

Accuracy Score: 0.9754784688995215

In [16]:
from sklearn.metrics import classification_report
print(classification_report(test_target,pred))

              precision    recall  f1-score   support

           0       0.97      1.00      0.99      1448
           1       0.99      0.82      0.90       224

    accuracy                           0.98      1672
   macro avg       0.98      0.91      0.94      1672
weighted avg       0.98      0.98      0.97      1672